<section class="sidebar-featured sidebar-user">
  <h2 id="feat-user-headline">Featured User:</h2>

  <% if @users %>
    <% user = @users.sample %>

    <section class="feat-main-info group">
      <img class="feat-prof-picture" src="<%=  user.avatar.url(:thumb) %>">

      <div class="feat-prof-name">
        <%= user.fname %> 
        <br><%= user.lname %>
      </div>
    </section>

    <section>
      <% if user.written_comments.last %>
      <h3 class="feat-header">Recent Review:</h3>
        <h3 class="feat-title"><%= user.written_comments.last.commentable.name %></h3>
        <h3 class="feat-body"><%= user.written_comments.last.body %></h3>
      <% end %>
    </section>

  <% end %>



</section>