<ul class="comment-list">

  <% comments_by_parent[comment_id].each do |child_comment| %>
    <li class="each-comment group">
        <h3 class="reviewer-name">
          <%= User.find(child_comment.user_id).fname %> 
          <div id="picture-comment">
            <img class="reviewer-pic" src="<%=  User.find(child_comment.user_id).avatar %>">
          </div>
        </h3>
        <h3 class="review-rating">
          <% if child_comment.rating && child_comment.rating.rating %>
            <% child_comment.rating.rating_stars.each do |star| %>
             <i class="<%= star %>"></i>  
            <% end %> 
          <% end %>
        </h3>

      <div class="review-body">
      	<%= child_comment.body %>
      </div>
    	<%= render partial: "comments/delete", locals: { comment_type: child_comment } %>

    	<%#= render partial: "comments/form", locals: {
    												parent_comment_id: child_comment.id, 
														commentable_id: child_comment.commentable_id,  
														commentable_type: child_comment.class.to_s } %> 

			<%#= comment_partial(child_comment.id, comments_by_parent) %>

    </li>
  <% end %>
</ul>