<li class="each-comment group">
  <a href="<%= user_url(child_comment.user_id) %>" data-remote="true" class="user-show-link">
    <h3 class="reviewer-name">
      <%= User.find(child_comment.user_id).fname %> 
      <div id="picture-comment">
        <img class="reviewer-pic" src="<%= image_path User.find(child_comment.user_id).avatar %>">
      </div>
    </h3>
  </a>

  <h3 class="review-rating">
    <% if child_comment.rating && child_comment.rating.rating %>
      <% child_comment.rating.rating_stars.each do |star| %>
       <i class="<%= star %>"></i>  
      <% end %> 
    <% end %>
  </h3>

  <div class="review-body">
    <%= child_comment.body %>
  </div>
  <%#= render partial: "comments/delete", locals: { comment_type: child_comment } %>

<div class="delete-buton"> 
  <% if current_user %>
    <% if current_user.id == child_comment.user_id %>

      <form action="<%= comment_url(child_comment) %>" method="post" data-remote="true" id="delete-review">
        <%= auth_token %>
        <input type="hidden" name="_method" value="delete">
        <input type="Submit" value="Delete">
      </form>

    <% end %>
  <% end %>

</div>

  <%#= render partial: "comments/form", locals: {
                        parent_comment_id: child_comment.id, 
                        commentable_id: child_comment.commentable_id,  
                        commentable_type: child_comment.class.to_s } %> 

  <%#= comment_partial(child_comment.id, comments_by_parent) %>

</li>