<form action="<%= comments_url %>" method="post">

	<%= auth_token %>

	<div class="input">
		<label for="comment-body">#</label>
		<textarea name="comment[body]"></textarea>
	</div>

	<input type="hidden" name="comment[parent_comment_id]" 
																								value="<%= parent_comment_id %>">
	<input type="hidden" name="comment[commentable_type]" value="<%= commentable_type %>">
	<input type="hidden" name="comment[commentable_id]" value="<%= commentable_id %>">

	<input type="submit" value="Submit ">

</form>