<% action = (comment.persisted? ? 
				restaurant_comment_url(restaurant) : restaurants_comments_url) %>
<% method = (restaurant.persisted? ? :put : :post) %>


<form action="<%= action %>" method="post">
	<input type="hidden" name="_method" value="<%= method %>">

	<%= auth_token %>

		<input type="hidden" name="comment[user_id" 
																		value="<%= current_user.id %>">

		<input type="hidden" name="comment[restaurant_id]" 
																		value="<%= @restaurant.id %>">																		

		<div class="input">
			<label for="comment-body">Body</label>
			<input type='textarea' name="comment[body]" 
																				value="<%= comment.body %>">
		</div>

		<% if params[:parent_comment_id] %>
			<input type="hidden" name="comment[parent_comment_id]" 
															value="<%= params[parent_comment_id]%>">  
		<% end %>

		<input type="submit" value="<%= restaurant.persisted? ? 'Update' : 'Create'%>">
</form>