<% action = (user.persisted? ? user_url(user) : users_url) %>
<% method = (user.persisted? ? :put : :post) %>


<form action="<%= action %>" method="post">
	<input type="hidden" name="_method" value="<%= method %>">

	<input type="hidden"
		name="authenticity_token"
		value="<%= form_authenticity_token %>" >

	<label>Name
		<input type='text' name="user[fname]" value="<%= user.fname %>">
		<input type='text' name="user[mname]" value="<%= user.mname %>">
		<input type='text' name="user[lname]" value="<%= user.lname %>">
	</label>
	<br>
	<label>
		Email
		<input type='text' name="user[email]" value="<%= user.email %>">
	</label>
	<br>

	<label>
		City
		<input type='text' name="user[city]" value="<%= user.city %>">
	</label>
	<br>

	<label>
		State
		<input type='text' name="user[state]" value="<%= user.state %>">
	</label>
	<br>

	<label>
		Password
		<input type='text' name="user[password]" value="">
	</label>
	<br>

	<input type="submit" value="<%= user.persisted? ? 'Update' : 'Create'%>">
</form>