<content class="sidebar group">

<section class="main-info group">
	<img class="prof-picture" src="<%=  @user.avatar.url(:thumb) %>">

	<div class="prof-name">
		<%= @user.fname %> <%= @user.mname %> <%= @user.lname %>
	</div>
</div>


<% if current_user == @user %>

	<ul class="prof-options">

	<li><%=  link_to "Edit Your Info", edit_user_url %></li>

	<li><%= button_to "Delete Your Account", user_url(@user), method: :delete %></li>

	<li><%= link_to "Register A Restaurant", new_user_restaurant_url(@user) %></li>

		<% @user.restaurants.each do |restaurant| %>
			<li>
				<a href="<%= restaurant_url(restaurant) %>">
					<%= restaurant.name %>
				</a>
			</li>
		<% end %>

		<li>
			<a href="<%#= notifications_url %>">Notifications
	      <strong class="notification-num">
	      	<%= current_user.notifications.unread.size %>
	      </strong>
	    </a>
	  </li>
	</ul>

<% end %>

<!-- <ul class="user-notifications">
	<% @user.notifications.each do |notification| %>
				<li><%#= notification.text %></li>
	<% end %>
</ul>
 -->



<form enctype="multipart/form-data" action="<%= user_url(@user) %>" method="post">
	<input type="hidden" name="_method" value="patch">

	<%= auth_token %>

	<input type="file" name="user[avatar]" id="avatar-upload">

	<input type="submit" value="Upload Photo">
</form>

</content>


<%= render "notifications/index" %>