<section class="prof-stuff">

<section class="main-info group">
  <img class="prof-picture" src="<%= user.avatar.url(:thumb) %>">

  <div class="prof-name">
    <%= user.fname %> 
  </div>
  <div class="prof-name">
    <%= user.mname %> 
  </div>
  <div class="prof-name">
    <%= user.lname %> 
  </div>

</section>


<% if current_user == user %>

  <ul class="prof-options">

    <li>
      <%= link_to "Edit Your Info", edit_user_url(user), remote: true, class: "edit-info"%>
    </li>

    <li>
      <%= button_to "Delete Your Account", user_url(user), method: :delete %>
    </li>

    <%= render partial: "users/avatar", locals: {user: user} %>

  </ul>

  <a class="notifications-warning" href="<%= notifications_url %>">Notifications
    <strong class="notification-num">
      <%= current_user.notifications.unread.size %>
    </strong>
  </a>

    <ul class="user-restaurants">
      <h3 class="your-restaurants">Your Restaurants:</h3>

      <% if !user.restaurants.empty? %>
        <% user.restaurants.order(created_at: :asc).each do |restaurant| %>
          <li class="restaurant-unit">
            <a href="<%= restaurant_url(restaurant) %>">
              <%= restaurant.name %>
            </a>
          </li>
        <% end %>
      <% else %>
        <p>No restaurants!</p>
      <% end %>
    </ul>

<% end %>

</section>

