<div id="user-show">
  <section class="prof-page-info">
    <img id="show-prof-pic" src="<%= image_path @user.avatar.url(:thumb) %>">

    <h2><%= @user.fname %></h2><h2>&nbsp;<%= @user.mname %></h2><h2>&nbsp;<%= @user.lname %></h2>

    <h3><%= @user.city %></h3>

    <% if @user.ratings %>
      <ul>
        <li>
          5 star ratings: <%= @user.ratings.where(rating: 5).count %>
        </li>
        <li>
          4 star ratings: <%= @user.ratings.where(rating: 4).count %>
        </li>
        <li>
          3 star ratings: <%= @user.ratings.where(rating: 3).count %>
        </li>
        <li>
          2 star ratings: <%= @user.ratings.where(rating: 2).count %>
        </li>
        <li>
          1 star ratings: <%= @user.ratings.where(rating: 1).count %>
        </li>
      </ul>
    <% end %>
  </section>

  <section class="user-activity">
    <% if !@user.restaurants.empty? %>
      <h2>Restaurants:</h2>

      <ul>
        <% @user.restaurants.each do |rest| %>
          <li>
            <a class="user-list-title" href="<%= restaurant_url(rest) %>"> 
              <%= rest.name %> 
            </a>
            <a href="<%= restaurant_url(rest) %>">
              -- <%= rest.full_address %>
            </a>
          </li>
        <% end %>
      </ul>
      <% else %>
        <h2>No restaurants as of yet!</h2>
    <% end %>

    <% if !@user.written_comments.empty? %>
      <h2 class="na">Reviews:</h2>

      <ul>
        <% @user.written_comments.each do |comm| %>
          <li>
            <a class="user-list-title" href="<%= restaurant_url(comm.commentable) %>">
              <%= comm.commentable.name %>
            </a>
            <a href="<%= restaurant_url(comm.commentable) %>">
              -- <%= comm.body %>
            </a>
          </li>
        <% end %>
      </ul>
    <% else %>
      <h2 class="na">No reviews as of yet!</h2>
    <% end %>
  </section>

</div>

<%= render partial: "sidebars/sidebar" %>