<h1 class="restaurant-index-header">Check out some delicious foods!</h1>
  <h2 class="index-subheader">Try Boston, New York City, or Los Angeles!</h2>
  <ul class="restaurant-list group">

   <% @restaurants.each do |restaurant| %>
      <li>

        <a href="<%= restaurant_url(restaurant.id) %>">

          <div class="index-pic">
            <img class="restaurant-prof-pic" src="<%= image_path restaurant.avatar.url(:full) %>">
          </div>

          <h2 id="restaurant-index-name"><%= restaurant.name %></h2>

          <h2 class="restaurant-rating">
            <% if restaurant.ratings.count > 0 %>
              <% restaurant.average_rating.each do |star| %>
                <i class="<%= star %>"></i>  
                <% end %>
            <% end %>
          </h2>

          <span class="restaurant-address">
            <h3>
              <%= restaurant.street1 %> 
              <% if restaurant.street2 != nil %>
                <%= restaurant.street2 %>
              <% end  %>
              <br>
              <%= restaurant.city %>, <%= restaurant.state %>
              <%= restaurant.zip %>
            </h3>
          </span>

        </a>

      </li>

      <h3 class="restaurant-list-tag group">
        <ul class="tags">
          <% restaurant.tags.each do |tag| %>
            <li class="tag"><%= tag.body %></li>
          <% end %>
        </ul>
      </h3> 
    <% end %>

  </ul>

