<div class="restaurant-show">

  <section class="restaurant-info group">

    <h1 class="restaurant-header"> 
      <%= restaurant.name %>
    </h1>
    <h3 class="restaurant-rating">
      <% restaurant.average_rating.each do |star| %>
        <i class="<%= star %>"></i>  
      <% end %>
    </h3> 
    <h3 class="rating-num"><%= restaurant.ratings.count %> reviews</h3>

<!-- TAGS!!! -->
  <h3 class="restaurant-list-tag group">
    <ul class="restaurant-tags">
      <% restaurant.tags.each do |tag| %>
          <li class="restaurant-tag"><%= tag.body %></li>
      <% end %>
    </ul>
  </h3>


    <section class="restaurant-address-show">
      <%= restaurant.street1 %> 
      <% if restaurant.street2 != nil %>
          <%= restaurant.street2 %>
      <% end %>
      <%= restaurant.city %>,  <%= restaurant.state %>
      <%= restaurant.zip %>
    </section>

    <section class="owner-options">
      <% if current_user == restaurant.owner %>
        <%= link_to "Edit Restaurant Info", edit_user_restaurant_url(current_user.id, restaurant) %>
      <% end %>
    </section>
  </section>

  <section class="graphics group">
      <img class="restaurant-show-prof-pic" src="<%= image_path restaurant.avatar.url(:full) %>" alt="restaurant-pic">

  <div id='show_map'></div>

  <script>
    var map = L.mapbox.map('show_map', 'afbresley.i427m2gn').setView(["<%= restaurant.latitude %>", "<%= restaurant.longitude %>"], 8);
  
  map.dragging.disable();
  map.touchZoom.disable();
  map.doubleClickZoom.disable();
  map.scrollWheelZoom.disable();

  var myLayer = L.mapbox.featureLayer().addTo(map);

  // The GeoJSON representing the two point features
  var geoJson = {
      'type': 'FeatureCollection',
      'features': [{
          'type': 'Feature',
        'geometry': {
            'type': 'Point',
            'coordinates': ["<%= restaurant.longitude %>", "<%= restaurant.latitude %>"]
          },
          'properties': {
            'title': "<%= restaurant.name %> :: <%= restaurant.average_rating %>",
            'marker-color': '#c41200',
            'marker-symbol': 'marker',
            'marker-size': 'medium'
          }
      }]
  };


  myLayer.setGeoJSON(geoJson);

  myLayer.on('ready', function() {
    map.fitBounds(featureLayer.getBounds());
  });

  myLayer.on('mouseover', function(e) {
      e.layer.openPopup();
  });
  myLayer.on('mouseout', function(e) {
      e.layer.closePopup();
  });

  </script>

  </section>

</div>


<section class="restaurant-comments main-content">
<h3 class="new-review-invitation">Write a review!</h3>

  <%= render partial: "comments/form", locals: {
                              parent_comment_id: nil,
                              commentable_id: restaurant.id,
                              commentable_type: "Restaurant" } %>

  <section class="all-comments">
    <% comments_by_parent = restaurant.comments_by_parent %>
    <%= comment_partial(nil, comments_by_parent) %>
  </section>
</section>

<%= render partial: "sidebars/sidebar" %>

