
<ul class="restaurant-list">


<% @restaurants.each do |restaurant| %>
	<li>
		<a href="<%= restaurant_url(restaurant.id) %>">
			<%= restaurant.name %>
			<span class="restaurant-address">
				<%= restaurant.street1 %> 
				<% if restaurant.street2 != nil %>
					<%= restaurant.street2 %>
				<% end  %>
				<%= restaurant.city %>, <%= restaurant.state %>
				<%= restaurant.zip %>
			</span>
		</a>
	</li>
<% end %>

</ul>

