<div class="restaurant-show">

	<section class="restaurant-info group">

		<h1 class="restaurant-header"> 
			<%= @restaurant.name %>
		</h1>
		<h3 class="restaurant-rating">
			<% @restaurant.average_rating.each do |star| %>
				<i class="<%= star %>"></i>  
			<% end %>
		</h3> 
		<h3 class="rating-num"><%= @restaurant.ratings.count %> reviews</h3>


		<section class="restaurant-address-show">
			<%= @restaurant.street1 %> 
			<% if @restaurant.street2 != nil %>
					<%= @restaurant.street2 %>
			<% end  %>
			<%= @restaurant.city %>, 	<%= @restaurant.state %>
			<%= @restaurant.zip %>
		</section>

		<section class="owner-options">
			<% if current_user == @restaurant.owner %>
				<%= link_to "Edit Restaurant Info", edit_user_restaurant_url(current_user.id, @restaurant) %>
			<% end %>
		</section>
	</section>

	<section class="graphics group">
			<img class="restaurant-prof-pic" src="<%= @restaurant.avatar.url(:full) %>">

	<div id='show_map'></div>


<!-- <iframe class="restaurant-show-map" width='720px' height='220px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/afbresley.i3laa2in/attribution,zoompan,zoomwheel,geocoder,share.html'></iframe> -->

<script>
var map = L.mapbox.map('show_map', 'afbresley.i427m2gn').setView(["<%= @restaurant.latitude %>", "<%= @restaurant.longitude %>"], 8);

var myLayer = L.mapbox.featureLayer().addTo(map);

// The GeoJSON representing the two point features
var geoJson = {
    'type': 'FeatureCollection',
    'features': [{
        'type': 'Feature',
			'geometry': {
					'type': 'Point',
					'coordinates': ["<%= @restaurant.longitude %>", "<%= @restaurant.latitude %>"]
				},
				'properties': {
					name: "<%= @restaurant.name %>",
					'address': "<%= @restaurant.average_rating %>",
					'marker-color': '#c41200',
					'marker-symbol': 'marker',
					'marker-size': 'medium'
				}
    }]
};

// Pass features and a custom factory function to the map
myLayer.setGeoJSON(geoJson);
myLayer.on('click', function(e) {
    e.layer.openPopup();
    // window.open(e.layer.feature.properties.name);
});

// myLayer.setGeoJSON(geoJson);
// myLayer.on('mouseover', function(e) {
//     e.layer.openPopup();
// });
// myLayer.on('mouseout', function(e) {
//     e.layer.closePopup();
// });

</script>










	</section>

</div>



<section class="restaurant-comments main-content">
<h3 class="new-review-invitation">Write a review!</h3>


	<%#= render partial: "tags/new", locals: { restaurant: @restaurant }%>
	<%#= render partial: "tags/show", locals: { restaurant: @restaurant }%>

	<%= render partial: "comments/form", locals: {
	    												parent_comment_id: nil,
															commentable_id: @restaurant.id, 
															commentable_type: "Restaurant" } %>

	<section class="all-comments">
		<% comments_by_parent = @restaurant.comments_by_parent %>
		<%= comment_partial(nil, comments_by_parent) %>
	</section>
</section>


<%# yield :sidebar do %>
<!-- meow -->
<%# end %>
