<h2> <%= @restaurant.name %> </h2>

<span class="restaurant-address">
	<%= @restaurant.street1 %> 
	<% if @restaurant.street2 != nil %>
		<%= @restaurant.street2 %>
	<% end  %>
	<%= @restaurant.city %>, 	<%= @restaurant.state %>
	<%= @restaurant.zip %>
</span>

<%#= render partial: "comments/comments", locals: { 
			parent_comment_id: nil, 
			commentable_id: @restaurant.id, 
			commentable_type: "Restaurant", 
			comments: @restaurant.comments.where(parent_comment_id: nil) } %>


<% if current_user == @restaurant.owner %>
	<%=  link_to "Edit Your Info", edit_user_restaurant_url(current_user.id, @restaurant) %>
	<%= button_to "Destroy this restaurant", user_restaurant_url(current_user.id, @restaurant), method: :delete %>
<% end %>


<%= render partial: "comments/form", locals: {
    												parent_comment_id: nil,
														commentable_id: @restaurant.id, 
														commentable_type: "Restaurant" } %>


<% comments_by_parent = @restaurant.comments_by_parent %>

<%= comment_partial(nil, comments_by_parent) %>
