<h2> <%= @restaurant.name %> </h2>

<span class="restaurant-address">
	<%= @restaurant.street1 %> 
	<% if @restaurant.street2 != nil %>
		<%= @restaurant.street2 %>
	<% end  %>
	<%= @restaurant.city %>, 	<%= @restaurant.state %>
	<%= @restaurant.zip %>
</span>

<%#= render partial: "comments/comments", locals: { 
			comment_parent_comment_id: nil, 
			commentable_id: @restaurant.id, 
			commentable_type: "Restaurant", 
			comments: @restaurant.comments.where(comment_parent_comment_id: nil) } %>


<% if current_user == @restaurant.owner %>
	<%=  link_to "Edit Your Info", edit_user_restaurant_url(current_user.id, @restaurant) %>
	<%= button_to "Destroy this restaurant", user_restaurant_url(current_user.id, @restaurant), method: :delete %>
<% end %>


<ul>
  <% comments_by_parent = @restaurant.comments_by_parent %>
  <% comments_by_parent[nil].each do |top_level_comments| %>
    <li>
    	<%= top_level_comments.body %>
    	<%= render partial: "comments/form", locals: {
    												comment_parent_comment_id: top_level_comments.comment_parent_comment_id,
														commentable_id: top_level_comments.commentable_id, 
														commentable_type: top_level_comments.commentable_type } %>
       <%= comment_partial(top_level_comments, comments_by_parent) %>
    </li>
  <% end %>
</ul>