<h2 class="restaurant-header"> <%= @restaurant.name %>, <%= @restaurant.average_rating %> </h2>

<img src="<%=  @restaurant.avatar.url(:full) %>">


<span class="restaurant-address">
	<%= @restaurant.street1 %> 
	<% if @restaurant.street2 != nil %>
		<%= @restaurant.street2 %>
	<% end  %>
	<%= @restaurant.city %>, 	<%= @restaurant.state %>
	<%= @restaurant.zip %>
</span>

<% if current_user == @restaurant.owner %>
	<%=  link_to "Edit Your Info", edit_user_restaurant_url(current_user.id, @restaurant) %>
	<%= button_to "Destroy this restaurant", user_restaurant_url(current_user.id, @restaurant), method: :delete %>

	<form enctype="multipart/form-data" action="<%= user_restaurant_url(current_user, @restaurant) %>" method="post">
		<input type="hidden" name="_method" value="patch">

		<%= auth_token %>

		<input type="file" name="restaurant[avatar]" id="avatar-upload">

		<input type="submit" value="Upload Photo">
	</form>

<% end %>

<%= render partial: "tags/new", locals: { restaurant: @restaurant }%>
<%= render partial: "tags/show", locals: { restaurant: @restaurant }%>

<%= render partial: "comments/form", locals: {
    												parent_comment_id: nil,
														commentable_id: @restaurant.id, 
														commentable_type: "Restaurant" } %>

<% comments_by_parent = @restaurant.comments_by_parent %>
<%= comment_partial(nil, comments_by_parent) %>


