<h2> <%= @restaurant.name %> </h2>

<span class="restaurant-address">
	<%= @restaurant.street1 %> 
	<% if @restaurant.street2 != nil %>
		<%= @restaurant.street2 %>
	<% end  %>
	<%= @restaurant.city %>, 	<%= @restaurant.state %>
	<%= @restaurant.zip %>
</span>

<%= render partial: "comments/show", locals: {restaurant: @restaurant} %>

<%= render partial: "comments/newform", locals: {comment: @restaurant.comments.new, restaurant: @restaurant} %>


<% if current_user == @restaurant.owner %>
	<%=  link_to "Edit Your Info", edit_user_restaurant_url(current_user.id, @restaurant) %>
	<%= button_to "Destroy this restaurant", user_restaurant_url(current_user.id, @restaurant), method: :delete %>
<% end %>
