<section id="main-content">

  <div id='search_map'></div>

  <script>

    var map = L.mapbox.map('search_map', 'afbresley.i42ckik9', {
      tileLayer: {
        continuousWorld: false,
        noWrap: true
      }
    }).setView(["39.12367", "-76.81229"], 5)
    
    var myLayer = L.mapbox.featureLayer().addTo(map);
    // The GeoJSON representing the two point features
    var geoJson = {
        'type': 'FeatureCollection',
        'features': [<%= feature_helper(@restaurants) %>]
    };


    // Pass features and a custom factory function to the map
    myLayer.setGeoJSON(geoJson)    
    map.fitBounds(myLayer.getBounds()); /*.maxzoom(15));*/

    // var that = this;
    // meow = map._zoom

    if (map._zoom > 15) { 
      // console.log("meow"),
      // meow = 15,
      // console.log(meow)
      console.log(map._zoom);
      // map.setZoom(15) 
    }

    // console.log(map._zoom);

    myLayer.on('mouseover', function(e) {
        e.layer.openPopup();
    });
    myLayer.on('mouseout', function(e) {
        e.layer.closePopup();
    });
    myLayer.on('mouseover', function(e) {
      map.panTo(e.layer.getLatLng());
    });
    myLayer.on('click', function(e) {
      map.panTo(e.layer.getLatLng());
    });
    myLayer.on('ready', function() {
          map.fitBounds(myLayer.getBounds());
          console.log("meow");
    });

  </script>

  <section class="search-restaurant-list" id="title-list">
    <ul>
      <% if @restaurants.empty? %>
        <li> Sorry, no results found </li>
      <% end %>
      
      <% @restaurants.each do |restaurant| %>
        <li>
          <a href="<%= restaurant_url(restaurant) %>">  
            <%= restaurant.name %> 
            <% restaurant.average_rating.each do |star| %>
              <i class="<%= star %>"></i>  
            <% end %>
          </a>
        </li>
      <% end %>
    </ul>
  </section>

  <%= render partial: "searches/sidebar", locals: { search: @search } %>

</section>