<div class="map-box" id="main-content">

  <div id='search_map'></div>

  <script>

    var map = L.mapbox.map('search_map', 'afbresley.i42ckik9', {
      tileLayer: {
        continuousWorld: false,
        noWrap: true
      }
    }).setView(["39.12367", "-76.81229"], 5)
    
    var myLayer = L.mapbox.featureLayer().addTo(map);
    // The GeoJSON representing the two point features
    var geoJson = {
        'type': 'FeatureCollection',
        'features': [<%= feature_helper(@restaurants) %>]
    };


    // Pass features and a custom factory function to the map
    myLayer.setGeoJSON(geoJson)
    map.fitBounds(myLayer.getBounds(), { paddingTopLeft: [35, 35] } );

    myLayer.on('mouseover', function(e) {
        e.layer.openPopup();
    });
    myLayer.on('mouseout', function(e) {
        e.layer.closePopup();
    });
    myLayer.on('mouseover', function(e) {
      map.panTo(e.layer.getLatLng());
    });
    myLayer.on('click', function(e) {
      window.location.href = e.layer.feature.properties.url
    });

  </script>

  <ul class="restaurant-list group result-list-text">

   <% @restaurants.each do |restaurant| %>
      <li>
        <a href="<%= restaurant_url(restaurant.id) %>">

          <div class="index-pic">
            <img class="restaurant-prof-pic" src="<%= restaurant.avatar.url(:full) %>">
          </div>

          <h2 id="restaurant-index-name"><%= restaurant.name %></h2>

          <h2 class="restaurant-rating">
            <% if restaurant.ratings.count > 0 %>
              <% restaurant.average_rating.each do |star| %>
                <i class="<%= star %>"></i>  
                <% end %>
            <% end %>
          </h2>

          <span class="restaurant-address">
            <h3>
              <%= restaurant.street1 %> 
              <% if restaurant.street2 != nil %>
                <%= restaurant.street2 %>
              <% end  %>
              <%= restaurant.city %>, <%= restaurant.state %>
              <%= restaurant.zip %>
            </h3>
          </span>

        </a>

      </li>

      <h3 class="restaurant-list-tag group">
        <ul class="tags">
          <% restaurant.tags.each do |tag| %>
            <li class="tag"><%= tag.body %></li>
          <% end %>
        </ul>
      </h3> 
    <% end %>

    <% if @restaurants.empty? %>
      <h3 class="sorry"><li> Sorry, no results found </li></h3>
    <% end %>

  </ul>

</div>

<%= render partial: "searches/sidebar", locals: { search: @search } %>
