<%#= content_for :sidebar do %>

<section class="search-sidebar">
  <h3>
    <ul>
      <label class="refine-header">You searched for:</label>
        <li class="old-params"><%= !search.search_params.empty? ? search.search_params : "Anything" %></li>
      <label class="refine-header">Near:</label>
        <li class="old-params"><%= !search.start_location.empty? ? search.start_location : "Near Me" %></li>
    </ul>
  </h3>


  <h3 class="refine-header">Refine your search:</h3>
  <form class="refine-search" id="thisthing" action="<%= searches_url %>" method="get" data-remote="true">
    <%= auth_token %>
    <label>New Category:</label>
      <input type="text" name="search[search_params]" placeholder="what?" value="">

    <label>New Location:</label>
      <input type="text" name="search[start_location]" placeholder="where?" value="">

    <label id="star-label">Select Stars:</label>
      <input type="text" id="textInput" class="starval" name="min-star" value="">
      <input type="range" min="0" max="5" value="0" onchange="updateTextInput(this.value);">

    <input type="submit" id="refine-submit" value="Refine Search"> 

    <input type="hidden" name="search[user_id]" value="<%= current_user ? current_user.id : nil %>">
    <input type="hidden" name="search[current_lat]" value="<%= search.current_lat %>">
    <input type="hidden" name="search[current_long]" value="<%= search.current_long %>">

  </form>

  <script>
    function updateTextInput(val) {
      document.getElementById('textInput').value=val; 
    }
  </script>


  <script>

    var $fullContent = $("#fullContent");

    $("form.refine-search").on("ajax:success", function (event, data) { 
      console.log(data);
      $fullContent.html(data);
    });

  </script>

</section>


