<!DOCTYPE html>
<html>
<head>
  <title>Findfood</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8"> 
</head>
<body>
  <header class="header .colour"> 


    <div class="header-wrap group">


    <div class="logo">
      <a href="<%= root_url %>">
        <img src="http://i.imgur.com/QFwam36.png">
      </a>
    </div>

    <div class="topline">
      <form class="header search-form" action="<%= api_searches_url %>" method="get">
        <%= auth_token %>

        <input type="search-text" name="search[search_params]" value="">
        <input type="search-text" name="search[start_location]" value="">

        <input type="hidden" name="search[user_id]" value="<%= current_user ? current_user.id : nil %>">

        <input type="hidden" id="search-lat" name="search[current_lat]" value="">
        <input type="hidden" id="search-long" name="search[current_long]" value="">

        <input type="submit" id="submit-search" value=":)" >
      </form>

      <script>
        $(document).ready(function() {

            $("form.search-form").on("submit", function (event) {
                event.preventDefault();
              },
                // eventcurrentTarget[1].value => gives the values of each field

              // var geoJSON = 
              //         <%#= (render partial: "layouts/restaurant.json.jbuilder", locals: {restaurants: @restaurants).html_safe %>;

              //           console.log(geojson)
                    // L.mapbox.map('map', 'andrewkv19.i3khopgf')
                    //   // .setView([center[1], center[0]], 12)
                    //   .featureLayer.setGeoJSON(geojson);                


              var view = new Findfood.Views.RestaurantsIndex({
                
              }),

              $("#main-content").html(view.render().$el)

            });

            function showLocation(position) {
              $("#search-lat").val(position.coords.latitude);
              $("#search-long").val(position.coords.longitude);
            }

            function errorHandler(err) {
              if(err.code == 1) {
                alert("Error: Access is denied!");
              }else if( err.code == 2) {
                alert("Error: Position is unavailable!");
              }
            }

            function getLocation(){
               if(navigator.geolocation){
                  // timeout at 60000 milliseconds (60 seconds)
                  var options = {timeout:60000};
                  navigator.geolocation.getCurrentPosition(showLocation, 
                                                           errorHandler,
                                                           options);
               }else{
                  alert("Sorry, browser does not support geolocation!");
               }
            }

            getLocation();

          // $("form.search-form").on("submit", function (event) {
          //   event.preventDefault();
          //   var $form = $(this);
          //   // console.log(event);
          //   // console.log($form);
          //   var $currentTarget = $(event.currentTarget);
          //   var data = $currentTarget.serializeJSON();

          //   // other_data = this.getLocation();

          // console.log($currentTarget);

          //   $.ajax({
          //     url: $form.attr("action"),
          //     type: "POST",
          //     data: data,
          //     success: function ( ) {
          //       console.log("success!");
          //     }
          //   });
          // });
        });

      </script>


      <% if signed_in? %>
        <div class="prof-pic"> 
          <a href="<%= root_url %>"><img src="<%=  current_user.avatar.url(:micro) %>"></a>
        </div>
      <% end %>
    </div>

    <nav class="header-nav"> 
    <ul class="group"> 

      <li class="signed-out"><%=  link_to "Home", root_url%></li>

      <li><a href="#">Write a Review</a></li>

      <% if signed_in? %>
      
      <li><%= link_to "Register A Restaurant", new_user_restaurant_url(current_user) %></li>

      
      <li class="sign-out"><%= button_to "Sign Out", session_url, method: :delete %></li>

      <% else %>
        <li class="signed-out"><%=  link_to "Sign In", new_session_url%></li>
        <li class="signed-out"><%=  link_to "Sign Up", new_user_url%></li>
      <% end %>
    </ul>
    </nav>

    </div>

  </header>
  
  <section class="group">
  <%= yield %>

  <% if @default %>
    <%= render partial: "sidebars/sidebar" %>
  <% else %>
    <%= yield :sidebar %>
  <% end %>

  </section>

</body>
</html>



