<!DOCTYPE html>
<html>
<head>
  <title>Findfood</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header"> 


    <div class="header-wrap group">


    <div class="logo">
      <a href="<%= root_url %>">
        <img src="http://i.imgur.com/QFwam36.png">
      </a>
    </div>

    <div class="topline">
      <form class="header search-form" action="<%= searches_url %>" method="post">
        <%= auth_token %>

        <input type="search-text" name="search[search_params]" value="Find:">
        <input type="search-text" name="search[start_location]" value="Near:">

        <input type="hidden" name="search[user_id]" value="<%= current_user ? current_user.id : nil %>">

        <input type="submit" value=":)">
      </form>

      <% if signed_in? %>
        <div class="prof-pic"> 
          <a href="<%= root_url %>"><img src="<%=  current_user.avatar.url(:micro) %>"></a>
        </div>
      <% end %>
    </div>


    <nav class="header-nav"> 
    <ul class="group"> 

      <li class="signed-out"><%=  link_to "Home", root_url%></li>

      <li><a href="#">Write a Review</a></li>

      <% if signed_in? %>
      
      <li><%= link_to "Register A Restaurant", new_user_restaurant_url(current_user) %></li>

      
      <li class="sign-out"><%= button_to "Sign Out", session_url, method: :delete %></li>

      <% else %>
      	<li class="signed-out"><%=  link_to "Sign In", new_session_url%></li>
      	<li class="signed-out"><%=  link_to "Sign Up", new_user_url%></li>
      <% end %>
    </ul>
    </nav>


    
    </div>
  </header>
  
  <section class="group">
  <%= yield %>

  <% if @default %>
  <%#= fail %>
    <%= render partial: "sidebars/sidebar" %>
  <% else %>
    <%= yield :sidebar %>
  <% end %>

  </section>

</body>
</html>
