<!DOCTYPE html>
<html>
<head>
  <title>Findfood</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<% if signed_in? %>
	<%= link_to current_user.fname + ' ' + current_user.mname + ' ' + current_user.lname, user_url(current_user) %>

	<li>
    <a href="<%= notifications_url %>">Notifications</a>

    <% unless current_user.notifications.empty? %>
      <strong><%= current_user.notifications.unread.size %></strong>
      <ul>
        <%= render partial: "notifications/notification", collection: current_user.notifications.unread %>
      </ul>
    <% end %>
  </li>


	
	<%= button_to "Sign Out", session_url, method: :delete %>
<% else %>
	<%=  link_to "Sign In", new_session_url%>
	<%=  link_to "Sign Up", new_user_url%>
<% end %>
	<%=  link_to "Home", root_url%>

<%= yield %>

</body>
</html>
