<!DOCTYPE html>
<html>
<head>
  <title>Findfood</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header"> 
    <div class="header-wrap group">

    <div class="logo">
      <a href="<%= root_url %>">FIND FOOD!</a>
    </div>

    <div class="topline">
      <%= render "searches/new" %>

      <% if signed_in? %>
        <div class="prof-pic"> 
          <a href="<%= user_url(current_user) %>"><img src="<%=  current_user.avatar.url(:micro) %>"></a>
        </div>
      <% end %>
    </div>

    <nav class="header-nav"> 
    <ul class="group"> 

      <li class="signed-out"><%=  link_to "Home", root_url%></li>

      <% if signed_in? %>
  	  <li class="signed-in"> 
          <%#= link_to current_user.fname + ' ' + current_user.mname + ' ' + current_user.lname,
                    user_url(current_user) %>
      </li>

    	<li class="signed-in">
        <a href="<%= notifications_url %>">Notifications

        <%# unless current_user.notifications.empty? %>
          <strong class="notification-num"><%= current_user.notifications.unread.size %></strong>
          <!-- <ul> -->
            <%#= render partial: "notifications/notification", collection: current_user.notifications.unread %>
          <!-- </ul> -->
        <%# end %>
        </a>
      </li>
      
      <li class="signed-in"><%= button_to "Sign Out", session_url, method: :delete %></li>

      <% else %>
      	<li class="signed-out"><%=  link_to "Sign In", new_session_url%></li>
      	<li class="signed-out"><%=  link_to "Sign Up", new_user_url%></li>
      <% end %>



    </ul>
    </nav>
    </div>
  </header>

  <%= yield %>

</body>
</html>
