<!DOCTYPE html>
<html>
<head>
  <title>Findfood</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- <img src="Users/Harold/Desktop/findfood/images.jpg"> -->
<% if signed_in? %>
<!-- 	a = "<%= current_user.fname %> <%= current_user.mname %>  <%= current_user.lname %>"
	fail -->
	<%= link_to current_user.fname + ' ' + current_user.mname + ' ' + current_user.lname, user_url(current_user) %>
	<%= button_to "Sign Out", session_url, method: :delete %>
<% else %>
	<%=  link_to "Sign In", new_session_url%>
	<%=  link_to "Sign Up", new_user_url%>

<% end %>

<%= yield %>

</body>
</html>
