<!DOCTYPE html>
<html>
<head>
  <title>Findfood</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8"> 

  <%= favicon_link_tag 'favicon.ico' %>

</head>
<body>
  <header class="header"> 

    <div class="header-wrap group">
 
    <div class="logo">
      <a href="<%= root_url %>" data-remote="true">
        <img src="http://i.imgur.com/NuQNitg.png" id="header-logo" alt="find-foods-logo">
      </a>
    </div>

    <div class="topline">
      <form class="header search-form" action="<%= searches_url %>" method="get" data-remote="true">

        <input id="s_params" type="text" name="search[search_params]" value="" placeholder="What kind of food?">

        <input id="s_locat" type="text" name="search[start_location]" value="" placeholder="Where?">

        <input type="hidden" name="search[user_id]" value="<%= current_user ? current_user.id : nil %>">

        <input type="hidden" id="search-lat" name="search[current_lat]" value="">
        <input type="hidden" id="search-long" name="search[current_long]" value="">

        <input type="submit" id="submit-search" value="Search!" >
      </form>

      <script>
        $(document).ready(function() {

          var $mainContent = $("#main-content");
          var $header = $(".header");
          // var $sidebar = $(".sidebar");
          var $fullContent = $("#fullContent");
          var $comments = $("#dem-comments");
          var $commentForm = $("form.new-comment");

          $("body").on("ajax:success", "form.search-form", function (event, data) { 
            $fullContent.html(data); 
            $("#s_params").val("");
            $("#s_locat").val("");
          });

          $("body").on("ajax:success", "#sign-in", function(event, data) {
            event.preventDefault();
            $fullContent.html(data);
          });

          $("body").on("ajax:success", "#sign-up", function(event, data) {
            event.preventDefault();
            $fullContent.html(data);
          });

          $("body").on("ajax:success", "#home-button", function(event, data) {
            event.preventDefault();
            $fullContent.html(data);
          });

          $("body").on("ajax:success", ".logo", function(event, data) {
            event.preventDefault();
            $fullContent.html(data);
          });

          $("body").on("ajax:success", ".edit-info", function(event, data) {
            event.preventDefault();
            $fullContent.html(data);
          });

          $commentForm.on("ajax:success", function(event, data) {
            event.preventDefault();
            $comments.append(data);
            $commentForm[0].reset();
          });


          $("body").on("ajax:success", "form.delete-review", function(event, data) {
            event.preventDefault();
            $(event.currentTarget).closest(".each-comment").hide();
          })

          $("body").on("ajax:success", ".user-show-link", function(event,data) {
            event.preventDefault();
            $fullContent.html(data);
          })

          function showLocation(position) {
            $("#search-lat").val(position.coords.latitude);
            $("#search-long").val(position.coords.longitude);
          }

          function errorHandler(err) {
            if(err.code == 1) {
              alert("Error: Access is denied!");
            }else if( err.code == 2) {
              alert("Error: Position is unavailable!");
            }
          }

          function getLocation(){
             if(navigator.geolocation){
                // timeout at 60000 milliseconds (60 seconds)
                var options = {timeout:60000};
                navigator.geolocation.getCurrentPosition(showLocation, 
                                                         errorHandler,
                                                         options);
             }else{
                alert("Sorry, browser does not support geolocation!");
             }
          }

          getLocation();
        });

      </script>


      <% if signed_in? %>
        <div class="prof-pic"> 
          <a href="<%= user_url(current_user.id) %>" data-remote="true" class="user-show-link"><img src="<%= image_path current_user.avatar.url(:micro) %>" alt="prof-pic"></a>
        </div>
      <% end %>
    </div>

    <nav class="header-nav"> 
    <ul class="group"> 

      <li class="signed-out" id="home-button"><a href="<%= root_url %>" data-remote="true">Home</a></li>

      <!-- <li><a href="#">Write a Review</a></li> -->

      <% if signed_in? %>
      
      <li><%= link_to "Register A Restaurant", new_user_restaurant_url(current_user) %></li>

      <li class="sign-out"><%= button_to "Sign Out", session_url, method: :delete %></li>

      <% else %>
        <li class="signed-out" id="sign-in"><a href="<%= new_session_url %>", data-remote="true">Sign In</a></li>

        <li class="signed-out" id="sign-up"><a href="<%= new_user_url %>", data-remote="true">Sign Up</a>
      <% end %>
    </ul>
    </nav>

    </div>

  </header>

  <div id='silly_map'></div>

  <script>

    var map = L.mapbox.map('silly_map', 'afbresley.i42ckik9').setView(["39.12367", "-76.81229"], 5)    
    var myLayer = L.mapbox.featureLayer().addTo(map);

    var geoJson = {
      'type': 'FeatureCollection',
      'features': [<%= feature_helper(@restaurants) %>]
    };

    myLayer.setGeoJSON(geoJson)

    myLayer.on('mouseover', function(e) {
        e.layer.openPopup();
    });
    myLayer.on('mouseout', function(e) {
        e.layer.closePopup();
    });
    myLayer.on('click', function(e) {
      map.panTo(e.layer.getLatLng());
    });

    myLayer.on('ready', function() {
        map.fitBounds(myLayer.getBounds());
        console.log("meow");
    });

  </script>

  <div class="modal-screen close-modal"></div>
  
<section class="group" id="fullContent">
  <%= yield %>
</section>

</body>
</html>



